{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <!-- <nav role="navigation">{% include navigation.html %}</nav> -->
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
      var sc_project=7653790; 
      var sc_invisible=1; 
      var sc_security="bd47e345"; 
  </script>
  <script type="text/javascript"
      src="http://www.statcounter.com/counter/counter.js"></script>
  <noscript><div class="statcounter"><a title="hits counter"
              href="http://statcounter.com/free-hit-counter/"
              target="_blank"><img class="statcounter"
              src="http://c.statcounter.com/7653790/0/bd47e345/1/"
              alt="hits counter"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
</body>
</html>
